@import '../style/variables';

.App {
  padding: 20px 0;
  background-color: $bg-gray;
  height: 2000px;
}

.page-heart {
  width: 1000px;
  margin: 0 auto;
}

h2 {
  font-weight: 500;
}

// TODO GTB-知识点: - 颜色值应使用_varaiable里面的常量，方便统一修改
// TODO GTB-工程实践: - CSS 尽量拆分到组件里面写
