@import '~antd/dist/antd.css';

.w {
  width: 1200px;
  margin: 0 auto;
}

.group {
  margin-top: 30px;
  height: 50px;
  background-color: aquamarine;
}

.group h2 {
  padding-left: 20px;
  float: left;
  line-height: 50px;
  font-weight: 700;
}

.group Button {
  float: right;
  background-color: red;
  border: 1px solid red;
  width: 130px;
  cursor: pointer;
  margin-top: 9px;
  color: white;
}

.students .student {
  display: inline-block;
  width: 60px;
  height: 30px;
  border: 1px solid red;
  background-color: pink;
  margin: 0 10px;
  text-align: center;
  padding: 0 2px;
}

.students Button {
  border: 1px solid rgb(129, 127, 127);
}

.students h2 {
  display: block;
  padding-left: 20px;
  line-height: 50px;
  font-weight: 700;
}

.student-list {
  margin-bottom: 10px;
}
